# How do we export a table to a csv file?


### Many methods:
#### 1) From a notebook,  select the data you want into an external file in csv format and put the file in a notebook folder.
#### 2) Use mysqlworkbench to export the result of a query to a csv file
#####    https://dev.mysql.com/doc/workbench/en/wb-admin-export-import.html
#### 3) Use a MySql Excel Add-in and connect Excel directly to your database
##### https://www.mysql.com/why-mysql/windows/excel/

In [2]:
import MySQLdb;
%reload_ext sql
%sql mysql://root:DWDStudent2017@localhost:3306

'Connected: root@None'

In [3]:
%sql  use hw6;
%sql  show tables;

0 rows affected.
6 rows affected.

[('calls311',),
 ('jointable',),
 ('restaurants',),
 ('tot311calls',),
 ('totinspects',),
 ('totrest',)]

### lets unload the jointable to a csv file in a python notebook folder
###  We first have to unload it to the /var/lib/mysql-files directory
### And then copy it into the python notebook folder

In [14]:
! sudo rm /var/lib/mysql-files/test.csv
%sql select *  into outfile '/var/lib/mysql-files/test.csv' fields terminated by ',' optionally enclosed by '"' lines terminated by'\n' from jointable;

197 rows affected.

[]

#### Now move the file into a python notebook folder, for now right at the top

In [15]:
!cp /var/lib/mysql-files/test.csv /home/ubuntu/ipynb

In [16]:
!ls /home/ubuntu/ipynb

A quick tour of IPython Notebook.ipynb	HW6hints.ipynb		Untitled1.ipynb
cmdjsp.jsp				images			Untitled.ipynb
Dealing-with-Data-Fall2017.ipynb	pandas-cookbook-master
Homeworks				test.csv

#### All done, go to your VM jupyter notebook, and the file should be  right there, click on it and excel will open it.
You should also be able to use curl to retrieve this notebook from
http://people.stern.nyu.edu/nwhite/DealingwithDataFall2017/Export_to_Excel.ipynb

See the next cell...

In [20]:
!curl http://people.stern.nyu.edu/nwhite/DealingwithDataFall2017/Export_to_Excel.ipynb >\
    /home/ubuntu/ipynb/Export_to_Excel.ipynb

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   337  100   337    0     0   9267      0 --:--:-- --:--:-- --:--:--  9361

In [21]:
!cat /home/ubuntu/ipynb/Export_to_Excel.ipynb

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /~nwhite/DealingwithDataFall2017/Export_to_Excel.ipynb was not found on this server.</p>
<hr>
<address>Apache/2.2.15 (Red Hat) Server at pages.stern.nyu.edu Port 80</address>
</body></html>