# Hints and help on the homework number 7
## This homework starts where 6 ends. This time we will look at the data at the zipcode-month level, and use Pandas to do some analysis

## It starts where homework 6 has just loaded the raw data tables for calls311 and restaurants

In [ ]:
import MySQLdb;
%reload_ext sql
%sql mysql://root:DWDStudent2017@localhost:3306

### lets make sure the tables are there
%sql use hw6
%sql show tables

In [ ]:
%sql use hw6
%sql show tables

## Now we have the two data sources, we need to create aggregate tables by zipcode-month
## Ned to know how to pull the month from the date fields, so we need to know the format of the date fields.

In [ ]:
%sql select Created_Date from calls311 limit 5;

In [ ]:
%sql describe calls311

#### OK, extracting the month should be easy, it is the first 2 characters of the Created_Date field

In [ ]:
%sql select distinct incident_zip from calls311

#### compute total calls by zipmonth (month is first two characters of Created_Date)
#### concatenate with the zipcode, 2014 and make the day 28 for the end of the month

In [ ]:
%sql drop table tot311callsbymonth
%sql create table tot311callsbymonth as select count(*) as totcallsbymonth, \
concat(substr(incident_zip,1,5),'-','2014-',substr(Created_Date,1,2),'-28') \
as zipmonth from calls311 where length(incident_zip) > 1 group by zipmonth;

In [ ]:
%sql select * from tot311callsbymonth limit 12

#### Repeat for restaurant data

In [ ]:
%sql select totcallsbymonth, zipmonth  from tot311callsbymonth order by totcallsbymonth desc limit 20;

In [ ]:
%sql describe restaurants
%sql select inspection_date from restaurants limit 10

In [ ]:
%sql drop table totrestbymonth
%sql create table totrestbymonth as select count(*) \
as totinspectsbymonth, concat(substr(zipcode,1,5),"-", '2014-',substr(inspection_date,1,2),'-28') as zipmonth from restaurants group by zipmonth;

In [ ]:
%sql select totinspectsbymonth, zipmonth from totrestbymonth order by totinspectsbymonth desc limit 20;

### Join the two aggregate tables together for analysis

In [ ]:
%sql describe tot311callsbymonth;
%sql describe totrestbymonth;

In [ ]:
%sql drop table if exists jointable
%sql  create table jointable as select a.totcallsbymonth,  a.zipmonth, b.totinspectsbymonth\
 from tot311callsbymonth a, totrestbymonth b where a.zipmonth = b.zipmonth;

####  Let's take a peek at the table

In [ ]:
%sql select * from jointable order by totcallsbymonth desc limit 10;

## Create a view that  pulls the month and zipcode apart, so we can look at time trends

In [ ]:
%sql drop view callsandinspectsbymonth
%sql create view callsandinspectsbymonth as select totcallsbymonth, totinspectsbymonth, \
 substr(zipmonth,1,5) as zipcode,  substr(zipmonth,7,10) as month from jointable;

In [ ]:
%sql select * from callsandinspectsbymonth order by zipcode,month limit 20;

In [ ]:
%sql select count(*) from restaurants where violation_description rlike 'Rat*|Rod*';

In [ ]:
%sql select distinct complaint_type from calls311;

## Now lets load that table into Pandas as a dataframe

In [ ]:
%matplotlib inline

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

# Make the graphs a bit prettier, and bigger
matplotlib.style.use(['seaborn-talk', 'seaborn-ticks', 'seaborn-whitegrid'])
plt.rcParams['figure.figsize'] = (15, 5)

In [ ]:
# Install the SQLAlchemy library if it is not installed
!sudo -H pip3 install -U sqlalchemy

In [ ]:
from sqlalchemy import create_engine

In [ ]:
conn_string_hw7 = 'mysql://{user}:{password}@{host}:{port}/{db}'.format(
    user='root', 
    password='DWDStudent2017', 
    host = 'localhost', 
    port=3306, 
    db='hw6'
)
engine_hw7 = create_engine(conn_string_hw7)

In [ ]:
query = '''
select * from callsandinspectsbymonth'''

In [ ]:
df = pd.read_sql(query,con=engine_hw7)

In [ ]:
df

In [ ]:
df['totcallsbymonth'].head(5)

### Lets compute the ratio of calls to inspections

In [ ]:
df['callstoinspects'] =df['totcallsbymonth']/ df['totinspectsbymonth']

In [ ]:
df.head(10)

#### Now that we have a dataframe, we can look at boroughs,
How do we convert zipcodes to boroughs?
Manhatten 100, Queens, 113, bklyn 112, Staten Island 103, Bronx 104
https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm
has zipcode by neighborhood

In [ ]:
def getborough(zip):
    bor= zip[:3]
#    print(bor)
    if bor== '100':
        return 'Manhatten'
    if bor == '113':
        return 'Queens'
    if bor == '112':
        return 'Brooklyn'
    if bor == '103':
        return 'Staten-Island'
    if bor == '104':
        return 'Bronx'
    return 'unknown'


getborough('51201')

In [ ]:
df['borough'] = df['zipcode'].apply(getborough)

In [ ]:
df.head(5)

#### let's use the pivot command to aggregate by borough

In [ ]:
import numpy as np
byborough =pd.pivot_table(df, values='totcallsbymonth',index= 'borough',columns='month',\
                         aggfunc=np.mean)

In [ ]:
byborough

#### This should give you a head start on how to do some interesting analysis. At a minimum, plot some resukts