<a href="https://colab.research.google.com/github/nhwhite212/DealingwithDataSpring2021/blob/colab/mysql_colab_client.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Connecting to a remote mysql database from COLAB**
#### This notebook has examples of how to connect to remote mysql databases from google colab:
## It will first connect to the Panos Ipeirotis Mysql Server which houses a number of sample databases. This server is actually running in the Googe Cloud. We only have read-only access to it, so we can't add databases or create and modify databases.
### The second server is running in the Stern Cloud, and is also a mysql server.
####  Each team will get an account on this server, so they can create and store tables.

## First, make sure all the required software is installed.
### We need to install the linux mysqlclient libraries on our linux system, and the  python mysqlclient libraries are installed
#### Unfortunately, we need to do this for every colab session.

In [16]:
# install the required linux support needed by the python libraries
!sudo apt-get install python3-dev default-libmysqlclient-dev
# Next install the python mysql support
!pip install mysqlclient

Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
python3-dev is already the newest version (3.6.7-1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 16 not upgraded.
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.6/dist-packages (2.0.3)

In [17]:
# We also need the sqlalchemy package for python
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.22)

## Then , we should be able to use familiar tools

In [ ]:
from sqlalchemy import create_engine

In [ ]:
conn_string_imdb = 'mysql://{user}:{password}@{host}:{port}/{db}?charset=utf8'.format(
    user='student', 
    password='dwdstudent2015', 
    host = 'db.ipeirotis.org', 
    port=3306, 
    db='imdb',
    encoding = 'utf-8'
)
engine_imdb = create_engine(conn_string_imdb)

### next install the sql magic code python library .
### so we can type sql queries in a code cell

In [ ]:
!sudo pip install sql_magic

In [ ]:
# Load in the sql_magic support for our notebook
%reload_ext sql_magic

## Now, configure a connection to the google database server

In [ ]:
%config SQL.conn_name = 'engine_imdb'

# Now we are ready to just an sql queries into our notebook cell and it will be executed
###  Just put %% in front of the read_sql command

In [ ]:
%%read_sql
# Let's see what databases are on this server
show databases

In [ ]:
# the %% read_sql reads multiline sql commands
%%read_sql 
# What is the table definition for the actors table?
 describe actors

In [ ]:
# The %read_sql command reads a 1 line sql query
%read_sql select count(*) from actors;

# Now lets switch to another mysql server, this is the class server at bigdata.stern.nyu.edu

In [ ]:
conn_string_big = 'mysql://{user}:{password}@{host}:{port}/{db}?charset=utf8'.format(
    user='DealingS21', 
    password='DealingS21!!', 
    host = 'bigdata.scrc.nyu.edu', 
    port=3306, 
    db='DealingS21',
    encoding = 'utf-8'
)
# call this connection engine_big
engine_bigdata = create_engine(conn_string_big)

In [ ]:
# Tell sql magic the connection to use (see the last line in the previous cell)
%config SQL.conn_name = 'engine_bigdata'

In [ ]:
%%read_sql
show databases

In [ ]:
%read_sql show tables

In [ ]:
%read_sql select count(*) from citibike.Stations

#   
#   
#   ALL DONE! We can connect to remote mysql databases from colab, and issue sql queries.
#

# And we can also connect directly from python...