### Python MySQLdb module

To enable Python to access programatically the contents of MySQL, we need to install the package `python3-mysqldb`. To do so, type:

`sudo -H apt-get install -y python3-mysqldb`
If you happen to be in a Centos/Redhat environment, you will need yum to install something like
type:
`sudo yum install -y pymysql`

In [ ]:
!apt-get install python3-dev libmysqlclient-dev
!apt-get install -y python3-mysqldb

In [ ]:
!pip3 install mysql-connector-python

Now, let's try our first connection to the database:

In [ ]:
import MySQLdb as mdb

# The connect() method has four parameters. 
# The first parameter is the host, where the MySQL database is located. 
# In our case it is a localhost, e.g. our computer. 
# The second parameter is the database user name. 
# It is followed by the user's account password. 
# The final parameter is the database name.
host = 'db.ipeirotis.org'
username = 'student'
password = 'dwdstudent2015'
database = 'imdb'

con = mdb.connect(host, username, password, database, 
                charset='utf8', use_unicode=True);
cur = con.cursor()
cur.execute("SELECT VERSION()")
ver = cur.fetchone()
print("Database version:", ver)
cur.close()
con.close()

And let's try our first query. You will use the `fetchall` command, which returns all the results as a tuple of tuples.

In [ ]:
import MySQLdb  as mdb

con = mdb.connect(host, username, password, database, charset='utf8', use_unicode=True);

cur = con.cursor()
cur.execute("SELECT * FROM actors LIMIT 100")
results = cur.fetchall()
cur.close()
con.close()

print(results)

Now, let's fetch the data line by line, to avoid having long execution times when fetching the results

In [ ]:
import MySQLdb as mdb

con = mdb.connect(host, username, password, database, charset='utf8', use_unicode=True);

# Returning all data at a time may not be feasible. We can fetch rows one by one.
cur = con.cursor()
cur.execute("SELECT * FROM actors LIMIT 10")
# We fetch the rows one by one using the fetchone() method. 
# The rowcount property gives the number of rows returned by the SQL statement.
for i in range(cur.rowcount):
    row = cur.fetchone()
    print(row)
    print(row[0], row[1], row[2])
cur.close()
con.close()

**The dictionary cursor:** There are multiple cursor types in the MySQLdb module. The default cursor returns the data in a tuple of tuples. When we use a dictionary cursor (`mdb.cursors.DictCursor`), the data is placed in a Python dictionary, which allows us to refer to the data by their column names. This will be very handy later, when we use Pandas to create dataframes.

In [ ]:
import MySQLdb as mdb

# The dictionary cursor
# There are multiple cursor types in the MySQLdb module. 
# The default cursor returns the data in a tuple of tuples. 
# When we use a dictionary cursor, the data is sent in a form of Python dictionaries. 
# This way we can refer to the data by their column names.

con = mdb.connect(host, username, password, database, charset='utf8', use_unicode=True);
    
sql_query = "SELECT * FROM actors LIMIT 10"

cur = con.cursor(mdb.cursors.DictCursor)
cur.execute(sql_query)
rows = cur.fetchall()
for row in rows:
    print(row)
    print(row["id"], row["first_name"], row["last_name"])
    
cur.close()
con.close()

### We can also issue SQL statements directly from our notebooks by using sql_magic
##### First we have to load in the sql magic support
##### Magic support allows us to issue single or multiple sql commands from a cell

In [ ]:
%load_ext sql

#### create a connection to the google database server

In [ ]:
%%sql mysql://student:dwdstudent2015@db.ipeirotis.org/imdb
select * from actors 
where first_name like 'M%'
limit 20

### Lets switch to our class server at Stern, bigdata.stern.nyu.edu
#### Each Team has their own userid and database in the mysql server on bigdata

In [ ]:
import MySQLdb as mdb

# The connect() method has four parameters. 
# The first parameter is the host, where the MySQL database is located. 
# In our case it is a localhost, e.g. our computer. 
# The second parameter is the database user name. 
# It is followed by the user's account password. 
# The final parameter is the database name.
host = 'bigdata.stern.nyu.edu'
username = 'DealingS21GB10'
password = 'DealingS21GB10!!'
database = 'DealingS21GB10'

con = mdb.connect(host, username, password, database, 
                charset='utf8', use_unicode=True);
cur = con.cursor()
cur.execute("SELECT VERSION()")
ver = cur.fetchone()
print("Database version:", ver)
cur.close()
con.close()