### String Formatting, How do we 

Often one wants to embed other information into strings, sometimes with special formatting constraints. In python, one may insert special formatting characters into strings that convey what type of data should be inserted and where, and how the "stringified" form should be formatted. Note: we enclose the variables whose value we want inside {}'s. 
For instance:

In [ ]:
print('Coordinates: {latitude}, {longitude}'
      .format(latitude='37.24N', longitude='115.81W'))

Or we can have the parameter values being variables:

In [ ]:
lat = '37.24N'
lon = '115.81W'
print('Coordinates: {latitude}, {longitude}'
      .format(latitude=lat, longitude=lon))

We can of course re-order and use the placeholders  multiple times:

In [ ]:
lat = '37.24N'
lon = '115.81W'
print('Latitude: {latitude}, Longitude: {longitude} ==> [{latitude}, {longitude}]'
      .format(latitude=lat, longitude=lon))

#### More formatting options

Below we will see a few more options, mainly for formatting numbers. (For a more detailed treatment on string formatting options, [see here](https://docs.python.org/3.5/library/string.html#format-string-syntax).) We can achieve the formatting by adding after the number/name the character `:` follows by a set of formatting options.

```
field       ::=  "{" field_name [":" format_spec] "}"
format_spec ::=  [[fill character]align][width][,][.precision][type]
align       ::=  "<" | ">" | "=" | "^"
sign        ::=  "+" | "-" | " "
width       ::=  number of digita in total (if width has a 0 in front, we add  for zero-padding)
precision   ::=  number of decimal points
```

Some common `type`s: 

* `d` integer
* `f` floating point
* `%` percent
* `e` exponential format
* `c` character
* `s` string

In [ ]:
print("Result: |",100/23,"|")

In [ ]:
print("Result: |{num}|".format(num=100/23))

In [ ]:
# Keep six digits for the whole number, out of which 3 for the decimals
# Notice that `num` is just the name of the placeholder, does not have any special meaning in terms of formatting
print("Result: |{num:6.3f}|".format(num=100/23))
print("Result: |{num:8.3f}|".format(num=100/23))
print("Result: |{num:8.5f}|".format(num=100/23))

In [ ]:
# Keep six digits for the whole number, out of which 3 for the decimals
# Notice that `num` is just the name of the placeholder, does not have any special meaning in terms of formatting
print("Result: |{num:7.2f}|".format(num=100/23))
print("Result: |{num:7.2f}|".format(num=1000/23))
print("Result: |{num:7.2f}|".format(num=10000/23))
print("Result: |{num:7.2f}|".format(num=100000/23))
print("Result: |{num:7.2f}|".format(num=1000000/23))

In [ ]:
print("Result: |{:7.2f}|".format(100/23))

In [ ]:
# Keep six digits for the whole number, out of which 3 for the decimals, with zero padding in front
print("Result: |{num:07.3f}|".format(num=100.0/23))

In [ ]:
# Floating point with three decimal digits
print("Result: |{num:.7f}|".format(num=100.0/23))

In [ ]:
# Sixteen digits total and four decimal digits, with comma-separated thousands
print("Result: |{num:16,.4f}|".format(num=1000000.0/7))
print("Result: |{num:16.4f}|".format(num=1000000.0/7))

In [ ]:
# Expressing a percentage:
points = 19
total = 22
print('Correct answers: {p:.2%}'.format(p=points/total))

In [ ]:
clinton = article.count("Clinton")
trump = article.count("Trump")
p_c = clinton / (clinton + trump)
p_t = trump / (clinton+trump)
template = "Relative percentage for {candidate:<7} : {perc:.2%}"
print(template.format(candidate="Clinton", perc=p_c) ) 
print(template.format(candidate="Trump", perc=p_t) )

In [ ]:
# your code here

In [ ]:
# alignment
print('|{message:<30}|'.format(message='left aligned'))
print('|{message:>30}|'.format(message='right aligned'))
print('|{message:^30}|'.format(message='centered'))

In [ ]:
# fill
print('|{message:#<80}|'.format(message='left aligned with # chars as fill'))
print('|{message:#>80}|'.format(message='right aligned with # chars as fill'))
print('|{message:#^80}|'.format(message='centered with # chars as fill'))

#### Exercise

We have a list of people and scores to display. 
```
Name Score
Beth 10
Frederick 8
Panos 7
``` 

Write code that:
* Assigns the names and the scores into variables. Call them name1, score1, name2, score2, name3, score3, etc.
* Align the names to the left, and the scores to the right
* Allocate 10 characters for the name, and 3 characters for the score

In [ ]:
# your code here

In [ ]:
'''





























'''

In [ ]:
# Solution; do not use this before trying your own solution

name1 = "Beth"
name2 = "Frederick"
name3 = "Panos"
score1 = 10.0
score2 = 8.51324
score3 = 7.12321
# Different formatting for headers and the data rows
# since we cannot apply floating point formatting to the 
# strings in the header
template_header = "{name:<10}\t{score:>7}"
template_row    = "{name:<10}\t{score:7.1f}"
# Print the header lines with the header template
print(template_header.format(name="NAME", score="SCORE"))
print(template_header.format(name="----", score="-----"))
# Print the data lines with the data template
print(template_row.format(name=name1, score=score1))
print(template_row.format(name=name2, score=score2))
print(template_row.format(name=name3, score=score3))